/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

form div {
  width: 100%;
  margin: 15px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

button:hover {
  opacity: 0.9;
}

button[type="submit"] {
  background-color: #007BFF;
  color: white;
  margin-top: 10px; /* Added margin */
}

button[type="button"] {
  background-color: #FF0000;
  color: white;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
}
